<% provide(:title, "Contact") %>
<div class="contact-main">
  <h1 class="contact-title"><%= t("static_pages.contact.title") %></h1>
  <p class="contact-hello"><%= t("static_pages.contact.hello") %> <%= @name %>!</p>
  <p class="contact-desc"><%= t("static_pages.contact.introduction") %>.</p>
</div>
