<h1><%= t("product_views.editing_product") %></h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to t("product_views.show_this_product"), @product %> |
  <%= link_to t("product_views.back_to_products"), products_path %>
</div>
